PORT=3000

CLIENT_LOGIN=cadestre_login_cliente_aqui
CLIENT_PASSWORD=123456

STAFF_LOGIN=cadestre_login_colaborador_aqui
STAFF_PASSWORD=123456

ADMIN_LOGIN=cadestre_login_admin_aqui
ADMIN_PASSWORD=123456